USE [HK]
GO
/****** Object:  Table [dbo].[Hero]    Script Date: 2019/6/14 17:40:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hero](
	[HeroID] [int] IDENTITY(1,1) NOT NULL,
	[HeroName] [nvarchar](50) NOT NULL,
	[HeroTypeID] [int] NOT NULL,
	[AddData] [datetime] NOT NULL,
	[Picture] [nvarchar](100) NOT NULL,
	[HeroStory] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_Hero] PRIMARY KEY CLUSTERED 
(
	[HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HeroType]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeroType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HeroType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuLevel]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuLevel](
	[MenuLevelID] [int] IDENTITY(1,1) NOT NULL,
	[MenuLevelName] [nvarchar](50) NOT NULL,
	[MenuID] [int] NOT NULL,
	[MenuLevelURL] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_MenuLevel] PRIMARY KEY CLUSTERED 
(
	[MenuLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[v_hero]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_hero]
AS
SELECT   dbo.Hero.HeroID, dbo.Hero.HeroName, dbo.Hero.HeroTypeID, dbo.Hero.AddData, dbo.Hero.Picture, dbo.Hero.HeroStory, 
                dbo.HeroType.TypeID, dbo.HeroType.TypeName
FROM      dbo.Hero INNER JOIN
                dbo.HeroType ON dbo.Hero.HeroTypeID = dbo.HeroType.TypeID



GO
/****** Object:  View [dbo].[v_menu]    Script Date: 2019/6/14 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_menu]
AS
SELECT   dbo.Menu.MenuID, dbo.Menu.MenuName, dbo.MenuLevel.MenuLevelID, dbo.MenuLevel.MenuLevelName, 
                dbo.MenuLevel.MenuLevelURL
FROM      dbo.Menu INNER JOIN
                dbo.MenuLevel ON dbo.Menu.MenuID = dbo.MenuLevel.MenuID


GO
SET IDENTITY_INSERT [dbo].[Hero] ON 

GO
INSERT [dbo].[Hero] ([HeroID], [HeroName], [HeroTypeID], [AddData], [Picture], [HeroStory]) VALUES (1, N'廉颇', 1, CAST(0x0000A51500000000 AS DateTime), N'lp.jpg', N'人人都有青春年少，廉颇也不例外。')
GO
INSERT [dbo].[Hero] ([HeroID], [HeroName], [HeroTypeID], [AddData], [Picture], [HeroStory]) VALUES (3, N'亚瑟', 2, CAST(0x0000A55C00000000 AS DateTime), N'ys.jpg', N'长久以来，崇尚英勇，荣耀与美德的圣骑士们守护着勇士之地。他们每年秋季都会举行武道大会，并演变为一大盛事。人们白天比武，夜晚饮酒作乐，欢庆丰收。最后的胜利者将加入圣骑士团，成为其中的一员。')
GO
INSERT [dbo].[Hero] ([HeroID], [HeroName], [HeroTypeID], [AddData], [Picture], [HeroStory]) VALUES (4, N'百里玄策', 3, CAST(0x0000A89200000000 AS DateTime), N'blxc.jpg', N'玄策不会忘记那个日子：来历不明的马贼冲破边关的城镇，然而齐心协力的守卫军和民众守住城门。率先进入城镇的马')
GO
SET IDENTITY_INSERT [dbo].[Hero] OFF
GO
SET IDENTITY_INSERT [dbo].[HeroType] ON 

GO
INSERT [dbo].[HeroType] ([TypeID], [TypeName]) VALUES (1, N'坦克')
GO
INSERT [dbo].[HeroType] ([TypeID], [TypeName]) VALUES (2, N'战士')
GO
INSERT [dbo].[HeroType] ([TypeID], [TypeName]) VALUES (3, N'刺客')
GO
SET IDENTITY_INSERT [dbo].[HeroType] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

GO
INSERT [dbo].[Menu] ([MenuID], [MenuName]) VALUES (1, N'英雄管理')
GO
INSERT [dbo].[Menu] ([MenuID], [MenuName]) VALUES (2, N'类型管理')
GO
INSERT [dbo].[Menu] ([MenuID], [MenuName]) VALUES (1001, N'菜单管理')
GO
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuLevel] ON 

GO
INSERT [dbo].[MenuLevel] ([MenuLevelID], [MenuLevelName], [MenuID], [MenuLevelURL]) VALUES (2, N'英雄类型', 2, N'/HeroType/Index')
GO
INSERT [dbo].[MenuLevel] ([MenuLevelID], [MenuLevelName], [MenuID], [MenuLevelURL]) VALUES (3, N'英雄列表', 1, N'/Hero/Index')
GO
INSERT [dbo].[MenuLevel] ([MenuLevelID], [MenuLevelName], [MenuID], [MenuLevelURL]) VALUES (1007, N'一级菜单', 1001, N'/Menu/Index')
GO
SET IDENTITY_INSERT [dbo].[MenuLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword]) VALUES (2, N'admin', N'9527')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Hero]  WITH CHECK ADD  CONSTRAINT [FK_Hero_HeroType] FOREIGN KEY([HeroTypeID])
REFERENCES [dbo].[HeroType] ([TypeID])
GO
ALTER TABLE [dbo].[Hero] CHECK CONSTRAINT [FK_Hero_HeroType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Hero"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 197
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "HeroType"
            Begin Extent = 
               Top = 6
               Left = 235
               Bottom = 108
               Right = 387
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_hero'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_hero'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Menu"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 108
               Right = 195
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MenuLevel"
            Begin Extent = 
               Top = 6
               Left = 233
               Bottom = 146
               Right = 419
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_menu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_menu'
GO
